@page
@model CallForBids.Areas.RPOffices.Pages.DeleteModel

@{
    ViewData["Title"] = "Delete";
    
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Offices</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offices.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Offices.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offices.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Offices.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offices.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Offices.Address)
        </dd>
    </dl>
    @if (Model.ErrorMessage != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @Model.ErrorMessage
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <form method="post">
        <input type="hidden" asp-for="Offices.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
