@page
@model CallForBids.Areas.RPBids.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bids</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bids.PublicationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bids.PublicationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bids.LimitDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bids.LimitDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bids.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bids.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bids.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bids.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bids.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bids.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bids.FiscalYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bids.FiscalYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bids.Office)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bids.Office.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bids.Project)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bids.Project.Poet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bids.IsAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bids.IsAvailable)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Bids.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
